.new-message {
  font-size: 1.2rem;

  border-radius: 4px;
  color: #407ec9;
  &__wrapper {
    width: 100%;
    text-align: center;
    margin: 2rem auto;
    margin-left: -5rem;
    padding: 0.4rem 0;
    background-color: rgba(#407ec914, 0.08);
  }
}
